*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('../static/imagens/Banner-gamgam.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container .h1-login{
    color: azure;
}

#main-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-login{
    width: 350px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0px 0px 20px rgba(140, 0, 255, 0.4);
    color: white;
}

.container-login input{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    color: white;
    outline: none;
}

.container-login input::placeholder{
    color: rgba(255,255,255,0.6);
}

.container-login button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #7b2cff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.container-login button:hover{
    background: #9d4dff;
    transform: scale(1.03);
    box-shadow: 0 0 15px #7b2cff;
}

.container-login h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

p.login-p{
    padding: 10px;
}

.login-a{
    color: #7b2cff;
    font-weight: bolder;
    text-decoration: none;
}

#mostrarsenha{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    transition: color 0.3s;
}

#mostrarsenha:hover{
    color: #fff;
}